# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
*.egg-info/
dist/
build/

# dotenv environment variable files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars

src/*.egg-info/
